@import url(https://fonts.googleapis.com/css?family=Inter:400,700&family=Mada:700&family=Poppins:400,700&family=Roboto:700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(84, 91, 232);
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
  text-align: end;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

/*--------------------------------------------------------*/

.contacts__form {
  background: rgba(84, 91, 232, 0.0745098039);
  max-width: 500px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.contacts__form-label {
  height: 72px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f2f2f2;
  border-radius: 2px;
  padding: 10px 20px;
}

.contacts__form-input {
  background: rgba(84, 91, 232, 0.0745098039);
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
}

.contacts__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 10px;
}

.contacts__form-checkbox {
  min-width: 16px;
  height: 16px;
  margin: 5px 12px 0px 3px;
}

.contacts__form-default {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.contacts__form-default:checked + .contacts__form-custom::before {
  background: url("../img/checkbox-my-1.svg") 50% 50% no-repeat, rgba(255, 64, 58, 0);
  background-size: contain;
}

.contacts__form-custom {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  border: 1px solid #424551;
  border-radius: 3px;
  cursor: pointer;
}

.contacts__form-custom::before {
  position: absolute;
  left: 0;
  top: 0px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

.contacts__form-btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 16px 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background: #545be8;
  border-radius: 12px;
  margin-top: 12px;
}

.popup-title {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__container {
  position: relative;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}

.header__logo {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.header__logo:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.header__nav {
  margin-left: auto;
}

.menu-open .header__nav {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101928;
  white-space: nowrap;
  gap: 40px;
}

.header__nav-link {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.header__nav-link:hover {
  text-shadow: 1px 1px 2px rgb(36, 35, 35);
}

.header__user-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  font-family: Inter;
  margin-left: 46px;
}

.header__login-btn {
  color: rgb(84, 91, 232);
}

.header__reg-btn {
  color: rgb(255, 255, 255);
  background-color: rgb(84, 91, 232);
}

.header .button {
  width: 170px;
  padding: 13px;
  text-align: center;
  border: 1px solid rgb(84, 91, 232);
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.header .button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.icon-menu {
  display: none;
}

.footer {
  background: #393e46;
}

.footer__inner {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.footer__social {
  width: 40%;
}

.footer__social-logo {
  margin-bottom: 24px;
}

.footer__social-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #f4f4f4;
  margin-bottom: 40px;
  max-width: 424px;
}

.footer__social-icon:not(:last-child) {
  margin-right: 15px;
}

.footer__spollers-wrap {
  width: 60%;
}

.footer-spollers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  /* @media (max-width:$mobileSmall){
      display: block;
      flex-direction: column; 
      gap: 5px;
  } */
}

.footer-spollers__title {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.footer-spollers__body {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #f4f4f4;
}

body {
  background: #ffffff;
  font-family: Poppins, sans-serif;
  color: #141e32;
}

.main-block {
  background: #f5f5f5;
}

.main-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  gap: 36px;
}

.main-block__article {
  width: 50%;
}

.main-block__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545be8;
  padding: 24px 0 16px;
}

.main-block__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
  color: #141e32;
  margin-bottom: 24px;
}

.main-block__title span {
  color: #545be8;
}

.main-block__text {
  font-size: 18px;
  line-height: 27px;
  color: #969696;
  margin-bottom: 40px;
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  font-family: Inter;
}

.main-block__reg-btn {
  color: rgb(255, 255, 255);
  background-color: rgb(84, 91, 232);
}

.main-block__vid-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #141e32;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.main-block__vid-btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.main-block__image-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-block__image-box img {
  width: 100%;
}

.button {
  width: 170px;
  padding: 13px;
  text-align: center;
  border: 1px solid rgb(84, 91, 232);
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

/*====================================================================*/

.slider-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  gap: 20px;
}

.slider-block__article {
  width: 30%;
}

.slider-block__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545be8;
}

.slider-block__title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #141e32;
}

.slider-block__text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #969696;
}

.slider-block__wrap-box {
  width: 70%;
}

.slider-block__slider {
  width: 100%;
}

.slider-block__slide {
  width: 267px;
  height: 267px;
  background-color: rgb(84, 91, 232);
  padding: 41px 24px 41px 17px;
  border-radius: 10px;
  cursor: pointer;
}

.slide-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 8px;
}

.slide-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 16px;
}

.slide-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #dddddd;
}

.swiper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 24px 15px;
  gap: 24px;
}

.swiper-button-prev,
.swiper-button-next {
  height: 2.5rem;
  width: 2.5rem;
  vertical-align: center;
  text-align: center;
  border-radius: 50%;
  background-color: #f0c932;
}

/*===========================people===============================*/

.people-block {
  background: -webkit-gradient(linear, left top, left bottom, from(#545be8), to(#272db0));
  background: -o-linear-gradient(top, #545be8 0%, #272db0 100%);
  background: linear-gradient(180deg, #545be8 0%, #272db0 100%);
}

.people-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 125px;
  padding: 33px 0;
}

.people-block__image-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.people-block__image-box img {
  width: 100%;
}

.people-block__article {
  width: 50%;
}

.people-block__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #f0c932;
  margin-bottom: 16px;
}

.people-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  max-width: 291px;
  margin-bottom: 16px;
}

.people-block__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #dddddd;
  margin-bottom: 40px;
}

.people-block__digits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.digits {
  text-align: center;
}

.digits__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f0c932;
  margin-bottom: 6px;
}

.digits__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #dddddd;
}

/*========================available===========================*/

.available-block {
  background-color: #fff;
}

.available-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  gap: 80px;
}

.available-block__items-box {
  width: 67%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 41px;
}

.available-block__item {
  -webkit-box-shadow: 0px 25px 15px 10px rgba(177, 214, 235, 0.2);
          box-shadow: 0px 25px 15px 10px rgba(177, 214, 235, 0.2);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.available-block__item-photo {
  position: relative;
  overflow: hidden;
}

.available-block__item-photo img {
  width: 100%;
}

.available-block__item-lable {
  position: absolute;
  background-color: rgb(84, 91, 232);
  width: 123px;
  height: 43px;
  top: 22px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  -webkit-transform: translateX(-101%);
      -ms-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: 0.3s all ease 0.4s;
  -o-transition: 0.3s all ease 0.4s;
  transition: 0.3s all ease 0.4s;
}

.available-block__item-price {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  height: 67px;
  font-weight: 700;
  font-size: 21.6702px;
  line-height: 33px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  -webkit-transform: translateX(101%);
      -ms-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.available-block__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 15px 6px;
}

.available-block__item-title {
  font-size: 21.6702px;
  line-height: 33px;
  color: #141e32;
}

.available-block__item-views {
  font-weight: 400;
  font-size: 12.641px;
  line-height: 19px;
  color: #545be8;
}

.available-block__item-videos,
.available-block__item-teacher {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 16.2527px;
  line-height: 24px;
  color: #969696;
}

.available-block__article {
  width: 33%;
}

.available-block__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545be8;
  margin-bottom: 16px;
}

.available-block__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #141e32;
  margin-bottom: 16px;
}

.available-block__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #969696;
  margin-bottom: 24px;
}

.available-block__btn {
  display: block;
  color: rgb(255, 255, 255);
  background-color: #545be8;
}

/*=========================testimonials=========================*/

.testimonials-block {
  padding: 80px 0;
}

.testimonials-block__title {
  margin-bottom: 15px;
  font-family: Mada, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #0d1222;
}

.testimonials-block__slide {
  padding: 25px 0;
  overflow: visible;
}

.testimonials-block__slide-inner {
  position: relative;
  max-width: 550px;
  height: 268px;
  padding: 40px;
  -webkit-box-shadow: 0px 10px 12px 1px rgba(138, 169, 187, 0.2);
          box-shadow: 0px 10px 12px 1px rgba(138, 169, 187, 0.2);
}

.testimonials-block__decor {
  position: absolute;
  top: 0;
  right: 0;
}

.testimonials-block__customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.testimonials-block__info-name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.testimonials-block__info-location {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #969696;
}

.testimonials-block__rating {
  margin-bottom: 24px;
}

.testimonials-block__text {
  overflow: auto;
  width: 100%;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #646464;
}

/*==========================faq-block==========================*/

.faq-block {
  background: #e2e6e9;
  padding: 80px 0;
}

.faq-block__title {
  margin-bottom: 50px;
  font-family: Mada, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #0d1222;
}

.faq-block-spollers {
  max-width: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.faq-block-spollers__item {
  font-size: 1.25rem;
}

.faq-block-spollers__title {
  z-index: 10;
  background-color: #fff;
  width: 100%;
  cursor: default;
  text-align: left;
  border: 2px solid rgba(84, 91, 232, 0.4941176471);
  padding: 1.25rem 3.125rem 1.25rem 1.25rem;
  border-radius: 0.3125rem;
  position: relative;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

._spoller-init .faq-block-spollers__title {
  cursor: pointer;
}

._spoller-init .faq-block-spollers__title::before,
._spoller-init .faq-block-spollers__title::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  background-color: #ffffff;
  height: 2px;
  width: 15px;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .faq-block-spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .faq-block-spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .faq-block-spollers__title._spoller-active {
  border-bottom: none;
}

._spoller-init .faq-block-spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .faq-block-spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.faq-block__title-ellips {
  position: absolute;
  right: 13px;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #545be8;
  z-index: 1;
}

.faq-block-spollers__body {
  margin-top: -8px;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  background-color: #fff;
  border: 2px solid rgba(84, 91, 232, 0.4941176471);
  border-top: none;
  z-index: 100;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #5c5c5c;
}

/*==========================map-block==========================*/

.map-block {
  margin-bottom: -235px;
  background: -webkit-gradient(linear, left top, left bottom, from(#545be8), to(#272db0));
  background: -o-linear-gradient(top, #545be8 0%, #272db0 100%);
  background: linear-gradient(180deg, #545be8 0%, #272db0 100%);
}

.map-block__inner {
  padding: 100px 0 0;
}

.no-webp .main__image-bg{
  background-image: url(../img/BG-map-25.jpg); }

.main__image-bg {
  height: 600px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1920px;
  /* filter: brightness(40%); */
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 550px) {
  .available-block__items-box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .header__user-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    gap: 15px;
  }

  .header .button {
    width: 100%;
  }

  .main-block__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    gap: 15px;
  }

  .button {
    width: 100%;
  }
}

@media (max-width: 65.625em) {
  .header__nav-list {
    gap: 30px;
  }

  .header__user-buttons {
    margin-left: 20px;
  }
}

@media (max-width: 61.99875em) {
  .header__inner {
    margin-right: 60px;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-transform: translateY(-101%);
        -ms-transform: translateY(-101%);
            transform: translateY(-101%);
    padding: 30px 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

  .header__nav-list {
    font-size: 24px;
  }

  .icon-menu {
    outline: 0;
    display: block;
    position: absolute;
    top: 26px;
    right: 20px;
    width: 2.1875rem;
    height: 1.5625rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.25rem;
    border-radius: 2px;
    background-color: rgb(84, 91, 232);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.125rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.125rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.125rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer-spollers {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .main-block__inner {
    padding: 40px 0;
    gap: 15px;
  }

  .main-block__title {
    font-size: 48px;
  }

  .slider-block__inner {
    padding: 40px 0;
    gap: 15px;
  }

  .people-block__inner {
    padding: 20px 0;
    gap: 15px;
  }

  .available-block__inner {
    padding: 40px 0;
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .available-block__items-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }

  .available-block__article {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  .testimonials-block {
    padding: 40px 0;
    gap: 15px;
  }

  .map-block__inner {
    padding: 50px 0 0;
    gap: 15px;
  }

  .main__image-bg {
    height: 408px;
    background-size: 1000px;
  }
}

@media (max-width: 47.99875em) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    margin-right: 0px;
  }

  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__user-buttons {
    margin-left: 0px;
  }

  .footer__social-icon:not(:last-child) {
    margin-right: 5px;
  }

  .main-block__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }

  .main-block__article {
    width: 100%;
  }

  .main-block__subtitle {
    padding: 12px 0 8px;
  }

  .main-block__buttons {
    margin-left: 0px;
  }

  .main-block__image-box {
    width: 100%;
  }

  .slider-block__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }

  .slider-block__article {
    width: 100%;
  }

  .slider-block__wrap-box {
    width: 100%;
  }

  .people-block__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0;
  }

  .people-block__image-box {
    width: 100%;
  }

  .people-block__article {
    width: 100%;
  }

  .available-block__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }

  .testimonials-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }

  .faq-block {
    padding: 30px 0;
  }

  .faq-block__title {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 42px;
  }

  .map-block__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0;
  }
}

@media (max-width: 29.99875em) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
    gap: 20px;
  }

  .footer__social {
    width: 100%;
  }

  .footer__social-icon:not(:last-child) {
    margin-right: 15px;
  }

  .footer__spollers-wrap {
    width: 100%;
    padding: 0px;
  }

  .footer-spollers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    gap: 15px;
  }

  .footer-spollers__item {
    font-size: 1.25rem;
  }

  .footer-spollers__title {
    width: 100%;
    cursor: default;
    text-align: left;
    border: 1px solid #eee;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.3125rem;
    position: relative;
  }

  ._spoller-init .footer-spollers__title {
    cursor: pointer;
  }

  ._spoller-init .footer-spollers__title::before,
  ._spoller-init .footer-spollers__title::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: #ffffff;
    height: 2px;
    width: 15px;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  }

  ._spoller-init .footer-spollers__title::before {
    -webkit-transform: translate(-75%, -50%) rotate(40deg);
        -ms-transform: translate(-75%, -50%) rotate(40deg);
            transform: translate(-75%, -50%) rotate(40deg);
  }

  ._spoller-init .footer-spollers__title::after {
    -webkit-transform: translate(0, -50%) rotate(-40deg);
        -ms-transform: translate(0, -50%) rotate(-40deg);
            transform: translate(0, -50%) rotate(-40deg);
  }

  ._spoller-init .footer-spollers__title._spoller-active::before {
    -webkit-transform: translateX(-75%) rotate(-40deg);
        -ms-transform: translateX(-75%) rotate(-40deg);
            transform: translateX(-75%) rotate(-40deg);
  }

  ._spoller-init .footer-spollers__title._spoller-active::after {
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  .footer-spollers__body {
    padding: 1.25rem;
    border-radius: 0.3125rem;
    border: 1px solid #eee;
  }

  .main-block__title {
    font-size: 40px;
    margin-bottom: 12px;
  }

  .main-block__text {
    margin-bottom: 20px;
  }
}

@media (any-hover: hover) {
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: #000000;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .available-block__item:hover .available-block__item-lable {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .available-block__item:hover .available-block__item-price {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .available-block__item:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.webp .main__image-bg{ background-image: url(../img/BG-map-25.webp); }